<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>685620451959-b685u77g0i4qmceuir9t0pfml237q47k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.685620451959-b685u77g0i4qmceuir9t0pfml237q47k</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>685620451959-mol52nk081rnt1d6rthfd7ippa90946u.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBHWgDb8hqqYag6kRrO68nQBJilanfyQu4</string>
	<key>GCM_SENDER_ID</key>
	<string>685620451959</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vaccheck.vaccheck</string>
	<key>PROJECT_ID</key>
	<string>vaccheck-6a24b</string>
	<key>STORAGE_BUCKET</key>
	<string>vaccheck-6a24b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:685620451959:ios:0f7eed5683997412550472</string>
</dict>
</plist>