.btn3{
    position: absolute;
    width: 140px;
    height: 30px;
    left: 330px;
    top: 780px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 175%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 10px 710px;
    background: #3A57E8;
    border-radius: 4px;

}
.ba{
    position: absolute;
    left: 320px;
    top: 560px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 175%;
    color: #8A92A6;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 710px;
}
.cn{
    position: absolute;
    left: 320px;
    top: 450px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 175%;
    color: #8A92A6;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 710px;
}
.putb1{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 16px;

    position: absolute;
    width: 250px;
    height: 33px;
    left: 320px;
    top: 475px;
    background: #FFFFFF;
    border: 1px solid #3A57E8;
    box-sizing: border-box;
    border-radius: 4px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 710px;
}

.cnn{
    position: absolute;
    left: 320px;
    top: 505px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 175%;
    color: #8A92A6;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 710px;
}
.putb2{
    position: absolute;
    left: 320px;
    top: 530px;
    width: 250px;
    height: 33px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 16px;
    background: #FFFFFF;
    border: 1px solid #3A57E8;
    box-sizing: border-box;
    border-radius: 4px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 710px;
}
.putb3{
    position: absolute;
    left: 320px;
    top: 585px;
    width: 250px;
    height: 33px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 16px;
    background: #FFFFFF;
    border: 1px solid #3A57E8;
    box-sizing: border-box;
    border-radius: 4px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 710px;
}
.EM{
    position: absolute;
    left: 320px;
    top: 615px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 175%;
    color: #8A92A6;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 710px;
}
.putb4{
    position: absolute;
    left: 580px;
    top: 585px;
    width: 250px;
    height: 33px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 16px;
    background: #FFFFFF;
    border: 1px solid #3A57E8;
    box-sizing: border-box;
    border-radius: 4px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 710px;
}
.putb5
{
    position: absolute;
    left: 840px;
    top: 585px;
    width: 250px;
    height: 33px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 16px;
    background: #FFFFFF;
    border: 1px solid #3A57E8;
    box-sizing: border-box;
    border-radius: 4px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 710px;
}

.ea{
    position: absolute;
    left: 320px;
    top: 650px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 175%;
    color: #8A92A6;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 710px;
}

.pass1{
    position: absolute;
    left: 320px;
    top: 705px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 175%;
    color: #8A92A6;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 710px;
}

.putb6
{
    position: absolute;
    left: 320px;
    top: 620px;
    width: 250px;
    height: 33px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 16px;
    background: #FFFFFF;
    border: 1px solid #3A57E8;
    box-sizing: border-box;
    border-radius: 4px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 710px;
}
.putb7
{
    position: absolute;
    left: 580px;
    top: 620px;
    width: 250px;
    height: 33px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 16px;
    background: #FFFFFF;
    border: 1px solid #3A57E8;
    box-sizing: border-box;
    border-radius: 4px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 710px;
}

.putb8
{
    position: absolute;
    left:320px;
    top: 675px;
    width: 250px;
    height: 33px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 16px;
    background: #FFFFFF;
    border: 1px solid #3A57E8;
    box-sizing: border-box;
    border-radius: 4px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 710px;
}
.putb9
{
    position: absolute;
    left: 320px;
    top: 730px;
    width: 250px;
    height: 33px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 16px;
    background: #FFFFFF;
    border: 1px solid #3A57E8;
    box-sizing: border-box;
    border-radius: 4px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 710px;
}


@media screen and (max-width: 859px) and (min-width:768px){
    .btn3{

       
        left: -12%;
        top: 78%;
    
    }
    .ba{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: clip;
        left: -15%;
        top: 57%;
        
    }
    .cn{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: clip;
        left: -15%;
        top: 45%;
  
    }
    .putb1{
   
        left: -15%;
        top: 48%;
        width: 150px;
     
    }
    
    .cnn{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: clip;
        left: -15%;
        top: 51%;
        
       
    }
    .putb2{
        left: -15%;
        top: 54%;
        width: 150px;
        
    }
    .putb3{
        left: -15%;
        top: 60%;
        width: 150px;
    }
 
    .putb4{
        left: 5%;
        top: 60%;
        width: 150px;

    }
    .putb5
    {
        left: 25%;
        top: 60%;
        width: 150px;
    }
    
    .ea{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: clip;
        left: -15%;
        top: 66%;
        
    }
    
    .pass1{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: clip;
        left: -15%;
        top: 72%;
        
    }
    
    .putb6
    {
        left: -15%;
        top: 63%;
        width: 150px;
    }
    .putb7
    {
        left: 5%;
        top: 63%;
        width: 150px;
    }
    
    .putb8
    {

        left: -15%;
        top: 69%;
        width: 150px;
    }
    .putb9
    {
        left: -15%;
        top: 75%;
        width: 150px;
    }
    
}
@media screen and (max-width: 1023px) and (min-width:860px){
    .btn3{

       
        left: -26%;
        top: 75%;
    
    }
    .ba{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: clip;
        left: -26%;
        top: 52%;
        
    }
    .cn{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: clip;
        left: -26%;
        top: 40%;
  
    }
    .putb1{
   
        left: -26%;
        top: 43%;
        width: 150px;
     
    }
    
    .cnn{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: clip;
        left: -26%;
        top: 46%;
        
       
    }
    .putb2{
        left: -15%;
        top: 54%;
        width: 150px;
        left: -26%;
        top: 49%;
        
    }
    .putb3{
        left: -26%;
        top: 55%;
        width: 150px;
    }
 
    .putb4{
        left: -8%;
        top: 55%;
        width: 150px;

    }
    .putb5
    {
        left: 10%;
        top: 55%;
        width: 150px;
    }
    
    .ea{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: clip;
        left: -26%;
        top: 61%;
        
    }
    
    .pass1{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: clip;
        left: -26%;
        top: 67%;
        
    }
    
    .putb6
    {
        left: -26%;
        top: 58%;
        width: 150px;
    }
    .putb7
    {
        left: -8%;
        top: 58%;
        width: 150px;
    }
    
    .putb8
    {

        left: -26%;
        top: 64%;
        width: 150px;
    }
    .putb9
    {
        left: -26%;
        top: 70%;
        width: 150px;
    }
    
}
@media screen and (max-width: 1200px) and (min-width:1024px){
    .btn3{

       
        left: 6%;
        top: 78%;
    
    }
    .ba{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: clip;
        left: 5%;
        top: 56%;
        
    }
    .cn{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: clip;
        left: 5%;
        top: 44%;
  
    }
    .putb1{
   
        left: 5%;
        top: 47%;
        width: 150px;
     
    }
    
    .cnn{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: clip;
        left: 5%;
        top: 50%;
        
       
    }
    .putb2{
        left: -15%;
        top: 54%;
        width: 150px;
        left: 5%;
        top: 53%;
        
    }
    .putb3{
        left: 5%;
        top: 59%;
        width: 150px;
    }
 
    .putb4{
        left: 20%;
        top: 59%;
        width: 150px;

    }
    .putb5
    {
        left: 35%;
        top: 59%;
        width: 150px;
    }
    
    .ea{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: clip;
        left: 5%;
        top: 65%;
        
    }
    
    .pass1{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: clip;
        left: 5%;
        top: 71%;
    }
    
    .putb6
    {
        left: 5%;
        top: 62%;
        width: 150px;
    }
    .putb7
    {
        left: 20%;
        top: 62%;
        width: 150px;
    }
    
    .putb8
    {

        left: 5%;
        top: 68%;
        width: 150px;
    }
    .putb9
    {
        left: 5%;
        top: 74%;
        width: 150px;
    }
}


@media screen and (max-width: 2880px) and (min-width:2700px)
{   
    .btn3{

       
        left: 44%;
        top: 55%;
    
    }
    .ba{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: clip;
        left: 44%;
        top: 41%;
        
    }
    .cn{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: clip;
        left: 44%;
        top: 33%;
  
    }
    .putb1{
   
        left: 44%;
        top: 35%;
        width: 150px;
     
    }
    
    .cnn{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: clip;
        left: 44%;
        top: 37%;
        
       
    }
    .putb2{
        left: -15%;
        top: 54%;
        width: 150px;
        left: 44%;
        top: 39%;
        
    }
    .putb3{
        left: 44%;
        top: 43%;
        width: 150px;
    }
 
    .putb4{
        left: 49%;
        top: 43%;
        width: 150px;

    }
    .putb5
    {
        left: 54%;
        top: 43%;
        width: 150px;
    }
    
    .ea{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: clip;
        left: 44%;
        top: 47%;
        
    }
    
    .pass1{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: clip;
        left: 44%;
        top: 51%;
    }
    
    .putb6
    {
        left: 44%;
        top: 45%;
        width: 150px;
    }
    .putb7
    {
        left: 50%;
        top: 45%;
        width: 150px;
    }
    
    .putb8
    {

        left: 44%;
        top: 49%;
        width: 150px;
    }
    .putb9
    {
        left: 44%;
        top: 53%;
        width: 150px;
    }

}
